@using PSD.Model
@using PSD.Security
@model PSD.Model.Cat_UserRole
@{
    ViewBag.Title = "Edición de role";
    ViewBag.SubTitle = Model.Name;
}

@using (Html.BeginForm("RoleEdit", "Catalog", new { }, FormMethod.Post, new { @class = "form-horizontal col-md-6", role = "form", onsubmit = "return ValidateForm()", name = "RoleEdit" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.IdB)
    <div class="form-group" id="grpName">
        <label for="Name" class="col-md-4 control-label">Nombre de role <span id="_lbName" class="field-validation-error text-danger" style="display:none;">*</span></label>
        <div class="col-md-8">
            <input type="text" class="form-control" name="Name" id="Name" value="@Model.Name" required/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-4">
            @Html.ValidationSummary()
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-default" onclick="updateCancel()">Cancelar</button>
        </div>
    </div>
}
@section pageCSS{
}
@section pageScripts{
    <script type="text/javascript">
        function ValidateForm() {
            return true;
        }

        function updateCancel() {
            window.location.href = '/Administration/Catalog/RoleIndex';
        }
    </script>
}