@using PSD.Web.Areas.Content.Controllers
@using PSD.Web.Areas.Content.Models
@model DetailViewModel

@{
    ViewBag.Title = "Detalle de Noticia";
    ViewBag.SubTitle = Model.DetailNews.Title;
}


<div class="container col-md-9">
    <div class="row">
        <div class="text-center text-success">
            <h2>@Model.DetailNews.Title</h2>
        </div>
    </div>
    <br />
    <div class="row">
        <img src="@Url.Content(@PSD.Web.Controllers._BaseWebController.ImageStoragePath + "/" + @Model.DetailNews.Image)" class="center-block img-responsive" />
    </div>
    <div class="row text-right">
        <div class="text text-left">
            <strong>@Model.DetailNews.ImageFooter</strong>
        </div>
    </div>
    <div class="row">
        <div class="text-right">
            @{ var publishedDate = Model.DetailNews.PublishDate != null ? Model.DetailNews.PublishDate.Value.ToLongDateString() : "Sin publicar"; }
            <span class="glyphicon glyphicon-time"></span> @publishedDate
        </div>
    </div>
    <div class="row">
        <div class="text-left">
            <h3>@Model.DetailNews.Subtitle</h3>
        </div>
    </div>
    <br />
    <div class="row">
        @Html.Raw(HttpUtility.HtmlDecode(Model.DetailNews.Paragraph))
    </div>
    @foreach (PSD.Model.NewsSection section in Model.DetailNews.NewsSections)
    {
        <div class="row">
            @Html.Partial("_NewsSection", section)
        </div>
    }
    <div class="row">
        <div class="text-right text-muted">
            Author: @Model.DetailNews.Author
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-group">
            <div class="col-md-10">
                <button type="button" class="btn btn-primary" onclick="window.location.href = '/ContentManagement/News/Edit/@Model.DetailNews.Id';">Editar</button>
                <button type="button" class="btn btn-default" onclick="window.location.href ='/ContentManagement/News/Index';">Regresar</button>
            </div>
        </div>
    </div>

    @{
        if (Model.PreviousNews != null && Model.NextNews != null)
        {
            <div class="row">
                <div class="col-md-5">
                    @Html.Partial("_NewsNavigation", Model.PreviousNews, new ViewDataDictionary { { "AreaRequest", "ContentManagement" } })
                </div>
                <div class="col-md-5 col-md-offset-2">
                    @Html.Partial("_NewsNavigation", Model.NextNews, new ViewDataDictionary { { "AreaRequest", "ContentManagement" } })
                </div>
            </div>
        }
        else if (Model.PreviousNews != null || Model.NextNews != null)
        {
            PSD.Model.News navigateDetail = Model.PreviousNews ?? Model.NextNews;
            <div class="row">
                <div class="col-md-6">
                    @Html.Partial("_NewsNavigation", navigateDetail, new ViewDataDictionary { { "AreaRequest", "ContentManagement" } })
                </div>
            </div>
        }
    }
</div>

