@using PSD.Security
@using PSD.Controller
@using PSD.Model
@model List<ContractSubdistributor>

@{
    ViewBag.Title = "Reporte de cupones";
    ViewBag.SubTitle = "Semestre 2";
}

<div class="col-md-12 text-right">
    @if (Identity.CurrentUser.IsInRole(UserRole.AppAdmin))
    {
        <a class="btn-export" href="#"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Exportar </a>
    }
</div>
<div class="col-md-12">
    <table class="table datatable table-export">
        <thead>
            <tr>
                <th>Id Convenio</th>
                <th>Subdistribuidor/Agricultor</th>
                <!--<th>Periodo</th>
                <th>Regi&oacute;n asignada</th>
                <th>Zona asignada</th>-->
                <th>Meta</th>
                <th>Meta S2</th>
                <th>$comprado S2</th>
                <th>%alcanzado</th>
                <th>%alcanzado S2</th>
                <th>Cup&oacute;n descuento</th>
                <th>Cup&oacute;n descuento por distribuidor</th>
                <th>Cup&oacute;n promoci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ContractSubdistributor item in Model)
            {
                <tr>
                    <td><a href="/Contracts/ToSubdistributor/Detail/@item.Id">@item.IdB</a></td>
                    <td>@item.Subdistributor.DisplayName</td>
                    <!--<td>@item.Year</td>
                    <td>@item.RegisteredRegionName</td>
                    <td>@item.RegisteredZoneName</td>-->
                    <td>@PSD.Common.Strings.FormatCurrency(item.AmountGoalTotal)</td>
                    <td>@PSD.Common.Strings.FormatCurrency(item.AmountGoalS2)</td>
                    <td>@PSD.Common.Strings.FormatCurrency(item.PurchaseTotalS2)</td>
                    <td>@PSD.Common.Strings.FormatPercentage(item.GoalTotalPercentage)</td>
                    <td>@PSD.Common.Strings.FormatPercentage(item.GoalTotalS2Percentage)</td>
                    <td>@PSD.Common.Strings.FormatCurrency(item.SubdistributorDiscountCoupon.CouponAmountS2)</td>
                    <td>
                        @foreach(DistributorPurchasesXContractSubdistributor itemDistributor in item.DistributorPurchases)
                        {
                            <span>@itemDistributor.Distributor.DisplayName (@PSD.Common.Strings.FormatPercentage(itemDistributor.CouponSharePercentageS2) = @PSD.Common.Strings.FormatCurrency(itemDistributor.CouponShareAmountS2))</span>
                        }
                    </td>
                    <td>@PSD.Common.Strings.FormatCurrency(item.SubdistributorPromotionCoupon.CouponAmountS2)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section pageCSS{
}
@section pageScripts{
    <script src="/Content/Components/Table2Excel/tableExport.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.btn-export').on('click', function () {
                $('.table-export').tableExport({ type: 'excel' });//csv
            });
        });
    </script>
}
