@model PSD.Model.SubdistributorContact

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SubdistributorContact</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.SubdistributorId, "SubdistributorId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SubdistributorId", String.Empty)
                @Html.ValidationMessageFor(model => model.SubdistributorId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullName)
                @Html.ValidationMessageFor(model => model.FullName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Role)
                @Html.ValidationMessageFor(model => model.Role)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumberExt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumberExt)
                @Html.ValidationMessageFor(model => model.PhoneNumberExt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CellPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CellPhone)
                @Html.ValidationMessageFor(model => model.CellPhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMail)
                @Html.ValidationMessageFor(model => model.EMail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssistantFullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssistantFullName)
                @Html.ValidationMessageFor(model => model.AssistantFullName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssistantPhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssistantPhoneNumber)
                @Html.ValidationMessageFor(model => model.AssistantPhoneNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssistantPhoneNumberExt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssistantPhoneNumberExt)
                @Html.ValidationMessageFor(model => model.AssistantPhoneNumberExt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssistantCellPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssistantCellPhone)
                @Html.ValidationMessageFor(model => model.AssistantCellPhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssistantEMail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssistantEMail)
                @Html.ValidationMessageFor(model => model.AssistantEMail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cat_SubdistributorContactAreaId, "Cat_SubdistributorContactAreaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Cat_SubdistributorContactAreaId", String.Empty)
                @Html.ValidationMessageFor(model => model.Cat_SubdistributorContactAreaId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
