@using PSD.Security
@using PSD.Model
@using PSD.Controller
@model PSD.Model.Distributor
@{
    ViewBag.Title = "Detalle de Distribuidor";
    ViewBag.SubTitle = Model.SelectItemName;
}

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label for="Folio" class="col-md-4 control-label">Id</label>
            <div class="col-md-8">
                <p class="form-control">@Model.IdB</p>
            </div>
        </div>
        <div class="form-group">
            <label for="Folio" class="col-md-4 control-label">Razon social</label>
            <div class="col-md-8">
                <p class="form-control">@Model.BusinessName</p>
            </div>
        </div>
        <div class="form-group">
            <label for="Folio" class="col-md-4 control-label">Nombre comercial</label>
            <div class="col-md-8">
                <p class="form-control">@Model.CommercialName</p>
            </div>
        </div>
        <div class="form-group">
            <label for="Folio" class="col-md-4 control-label">Direcci&oacute;n</label>
            <div class="col-md-8">
                <textarea class="form-control" rows="4">@Model.Address.ToString()</textarea>
                <br />
            </div>
        </div>
        <div class="form-group">
            <label for="Folio" class="col-md-4 control-label">Sitio Web</label>
            <div class="col-md-8">
                <p class="form-control">@Model.WebSite</p>
            </div>
        </div>
        <!--
        <div class="form-group">
            <label for="Folio" class="col-md-4 control-label">Localizaci&oacute;n geogr&aacute;fica</label>
            <div class="col-md-8">
                <p class="form-control">Longitud:[] Latitud:[]</p>
            </div>
        </div>
        -->
        @foreach (DistributorEmployee item in Model.DistributorUsers)
        {
            <div class="form-group">
                <label for="Person.User.Cat_UserStatus.Name" class="col-md-4 control-label">@(item.User.IsInRole(PSD.Controller.UserRole.CustomerDistributorOperation) ? "Perfil dueño" : "Perfil consulta") </label>
                <div class="col-md-8">
                    <p class="form-control">@item.NameDisplay / @item.EMail</p>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-12">
                &nbsp;<br />

            </div>
        </div>
        <div class="form-group">
            <label for="Folio" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                @if (Identity.CurrentUser.IsInRole(PSD.Controller.UserRole.AppAdmin))
                {
                    <button type="button" class="btn btn-primary" onclick="window.location.href = '/Administration/Distributor/Edit/@Model.DistributorUsers.FirstOrDefault().Id';">Editar distribuidor</button>
                }
                @if (Identity.CurrentUser.IsInRole(PSD.Controller.UserRole.EmployeeRTVOperation))
                {
                    if (Model.CurrentContract == null)
                    {
                        <button type="button" class="btn btn-info" onclick="window.location.href = '/Contracts/BayerToDistributor/Create/@Model.Id';">Crear convenio</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-info" onclick="window.location.href = '/Contracts/BayerToDistributor/Detail/@Model.CurrentContract.Id';">Ver convenio actual</button>
                    }

                }
                <button type="button" class="btn btn-default" onclick="window.location.href = '/Administration/Distributor';">Regresar</button>
            </div>
            <div class="col-md-2 text-right">
                @if (Identity.CurrentUser.IsInRole(PSD.Controller.UserRole.AppAdmin))
                {
                    <button type="button" class="btn btn-danger" onclick='if (confirm(" ¿está seguro de que desea eliminar a este distribuidor?")) window.location.href = "/Administration/Distributor/DistributorDelete/@Model.Id" ;'>Eliminar distribuidor</button>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                &nbsp;<br />

            </div>
        </div>
        <div class="form-group">
            <label for="Folio" class="col-md-4 control-label">Área de influencia</label>
            <div class="col-md-8">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>Municipio</th>
                            <th>Cultivos</th>
                        </tr>
                    </thead>
                    @foreach (DistributorCropsXMunicipality item in Model.CropsXMunicipality)
                    {
                        <tr>
                            <td>
                                @item.Municipality.State.Name
                            </td>
                            <td>
                                @item.Municipality.Name
                            </td>
                            <td>
                                @item.Crop.Name
                            </td>
                        </tr>

                    }
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                &nbsp;<br />

            </div>
        </div>
        <div class="form-group" id="grpNickName">
            <label for="NickName" class="col-md-4 control-label">Suscursales <span id="_lblNickName" class="field-validation-error text-danger" style="display:none;"></span></label>
            <div class="col-md-8">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Colonia</th>
                            <th>Calle</th>
                            <th>Numero Ext</th>
                        </tr>
                    </thead>
                    @foreach (DistributorBranch item in Model.DistributorBranches)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Address.AddressColony.Name
                            </td>
                            <td>
                                @item.Address.Street
                            </td>
                            <td>
                                @item.Address.NumberExt
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="form-group">
            <label for="Folio" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                @if (Identity.CurrentUser.IsInRole(PSD.Controller.UserRole.AppAdmin))
                {
                    <button type="button" class="btn btn-info" onclick="navigateToDistributorBranchIndex(@Model.Id)">Editar sucursales</button>
                }
            </div>
            <div class="col-md-2 text-right">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                &nbsp;<br />

            </div>
        </div>
        <div class="form-group">
            <label for="DistributorContacts" class="col-md-4 control-label">Contactos</label>
            <div class="col-md-8">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Puesto</th>
                            <th>Telefono</th>
                            <th>Celular</th>
                            <th>E Mail</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DistributorContact item in Model.DistributorContacts)
                        {
                            <tr>
                                <td>@item.FullName</td>
                                <td>@item.Role</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.CellPhone</td>
                                <td>@item.EMail</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label for="Folio" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                @if (Identity.CurrentUser.IsInRole(UserRole.AppAdmin))
                {
                    <button type="button" class="btn btn-info" onclick="navigateToDistributorContactIndex(@Model.Id)">Editar contactos</button>
                }
            </div>
            <div class="col-md-2 text-right">
            </div>
        </div>
    </div>
</div>

@section pageCSS{
}
@section pageScripts{
    <script type="text/javascript">
        function navigateToDistributorBranchIndex(distributorId) {
            window.location.href = '/Administration/Distributor/BranchIndex/' + distributorId;
        }

        function navigateToDistributorContactIndex(distributorId) {
            window.location.href = '/Administration/Distributor/ContactIndex/' + distributorId;
        }
    </script>
}