@using PSD.Model
@using PSD.Security
@model PSD.Model.ContractDistributor
@{
    ViewBag.Title = "Edición de Convenio Bayer-Distribuidor";
    ViewBag.SubTitle = Model.IdB;
    int currentMonth = PSD.Common.Dates.Today.Month;
}

@using (Html.BeginForm("Edit", "BayerToDistributor", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal col-md-8", role = "form", onsubmit = "return ValidateForm()", name = "Edit" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("postAction", "")
    @Html.HiddenFor(x => x.Id)
    <!--
    <div class="form-group" id="grpDistributor.CropId">
        <label for="Distributor.CropId" class="col-md-2 control-label">Productos <span id="_lblDistributor.CropId" class="field-validation-error text-danger" style="display:none;"></span></label>
        <div class="col-md-10">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Volumen Bayer</th>
                        <th>Volumen Distribuidor</th>
                        <th>Unidad</th>
                    </tr>
                </thead>
                <tr>
                    <td>Producto1</td>
                    <td>300</td>
                    <td>300</td>
                    <td>Kilogramos</td>
                </tr>
                <tr>
                    <td>Producto3</td>
                    <td>250</td>
                    <td>250</td>
                    <td>Litros</td>
                </tr>
                <tr>
                    <td>Producto16</td>
                    <td>1000</td>
                    <td>900</td>
                    <td>Litros</td>
                </tr>
                <tr>
                    <td>Producto2</td>
                    <td>300</td>
                    <td>200</td>
                    <td>Piezas</td>
                </tr>
                <tr>
                    <td>Producto14</td>
                    <td>100</td>
                    <td>100</td>
                    <td>Kilogramos</td>
                </tr>
            </table>
        </div>
        <div class="col-md-10 col-md-offset-4">
            <select name="selectedAddressState" id="selectedAddressState" class="form-control multiselect" onchange="">
                <option value="-1">Seleccionar...</option>
                <option value="-1">Producto1</option>
                <option value="-1">Producto2</option>
                <option value="-1">Producto3</option>
                <option value="-1">Producto4</option>
            </select>
            <input type="text" class="form-control col-md-2" name="IdB" id="IdB" value="" placeholder="Volumen" />
            <select name="selectedCrops" id="selectedCrops" class="form-control multiselect ">
                <option value="-1">Seleccionar...</option>
                <option value="-1">Litros</option>
                <option value="-1">Kilogramos</option>
                <option value="-1">Piezas</option>
            </select>
            <button type="button" class="btn btn-warning" onclick="Create.postAction.value = 'addInfluence'; Create.submit();" disabled>agregar</button>
        </div>
    </div>
    -->
    <div class="form-group" id="grpIdB">
        <label for="IdB" class="col-md-2 control-label">Id<span id="_lblIdB" class="field-validation-error text-danger" style="display:none;"></span></label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="IdB" id="IdB" value="@Model.IdB" readonly />
        </div>
    </div>
    <div class="form-group" id="grpYear">
        <label for="Year" class="col-md-2 control-label">Año<span id="_lblYear" class="field-validation-error text-danger" style="display:none;"></span></label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="Year" id="Year" value="@Model.Year" placeholder="" readonly />
        </div>
    </div>
    <div class="form-group" id="grpDistributor.CommercialName">
        <label for="Distributor.CommercialName" class="col-md-2 control-label">Distribuidor<span id="_lblDistributor.CommercialName" class="field-validation-error text-danger" style="display:none;"></span></label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="Distributor.CommercialName" id="Distributor.CommercialName" value="@Model.Distributor.CommercialName" placeholder="" readonly />
            @Html.HiddenFor(x => x.DistributorId)
        </div>
    </div>
    <div class="form-group" id="grpRegisteredZoneName">
        <label for="RegisteredZoneName" class="col-md-2 control-label">Regi&oacute;n registrada<span id="_lblRegisteredZoneName" class="field-validation-error text-danger" style="display:none;"></span></label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="RegisteredRegionName" id="RegisteredRegionName" value="@Model.RegisteredRegionName" placeholder="" readonly />
        </div>
    </div>
    <div class="form-group" id="grpRegisteredZoneName">
        <label for="RegisteredZoneName" class="col-md-2 control-label">Zona registrada<span id="_lblRegisteredZoneName" class="field-validation-error text-danger" style="display:none;"></span></label>
        <div class="col-md-10">
            @*<select name="selectedAddressState" id="selectedAddressState" class="multiselect" onchange="">
                    <option value="-1">Seleccionar...</option>
                    @foreach (SelectListItem item in new LinkedList<SelectListItem>())
                    {
                        <option value="@item.Value" @(item.Selected ? "selected" : "")>@item.Text</option>
                    }
                </select>*@
            <input type="text" class="form-control" name="RegisteredZoneName" id="RegisteredZoneName" value="@Model.RegisteredZoneName" placeholder="" readonly />
        </div>
    </div>
    <div class="form-group" id="">
        <label for="" class="col-md-2 control-label">Meta<span id="_lbl" class="field-validation-error text-danger" style="display:none;"></span></label>
        <div class="col-md-10">
            <table class="table table-condensed text-center">
                <thead>
                    <tr>
                        <th class="text-center">Periodo</th>
                        <th class="text-center">Valor Bayer</th>
                        <th class="text-center">Valor Distribuidor</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <label for="IdB" class="control-label">Q1<span id="_lblIdB" class="field-validation-error text-danger" style="display:none;"></span></label>
                    </td>
                    <td>
                        <div class="input-group col-md-12">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control focus-on-load" name="AmountGoalQ1Pre" id="AmountGoalQ1Pre" value="@(Model.AmountGoalQ1Pre>0? Model.AmountGoalQ1Pre.ToString() : "0")" placeholder="" onchange="CalculateTotal()" tabindex="1" @(currentMonth > 3 ? "readonly" : "") />
                            <span class="input-group-addon">MXN</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group col-md-12">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" name="AmountGoalQ1" id="AmountGoalQ1" value="@(Model.AmountGoalQ1>0? Model.AmountGoalQ1.ToString() : "0")" placeholder="" readonly />
                            <span class="input-group-addon">MXN</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="IdB" class="control-label">Q2<span id="_lblIdB" class="field-validation-error text-danger" style="display:none;"></span></label>
                    </td>
                    <td>
                        <div class="input-group col-md-12">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" name="AmountGoalQ2Pre" id="AmountGoalQ2Pre" value="@(Model.AmountGoalQ2Pre>0? Model.AmountGoalQ2Pre.ToString() : "0")" placeholder="" onchange="CalculateTotal()" tabindex="2" @(currentMonth > 6 ? "readonly" : "") />
                            <span class="input-group-addon">MXN</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group col-md-12">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" name="AmountGoalQ2" id="AmountGoalQ2" value="@(Model.AmountGoalQ2>0? Model.AmountGoalQ2.ToString() : "0")" placeholder="" readonly />
                            <span class="input-group-addon">MXN</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="IdB" class="control-label">Q3<span id="_lblIdB" class="field-validation-error text-danger" style="display:none;"></span></label>
                    </td>
                    <td>
                        <div class="input-group col-md-12">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" name="AmountGoalQ3Pre" id="AmountGoalQ3Pre" value="@(Model.AmountGoalQ3Pre>0? Model.AmountGoalQ3Pre.ToString() : "0")" placeholder="" onchange="CalculateTotal()" tabindex="3" @(currentMonth > 9 ? "readonly" : "") />
                            <span class="input-group-addon">MXN</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group col-md-12">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" name="AmountGoalQ3" id="AmountGoalQ3" value="@(Model.AmountGoalQ3>0? Model.AmountGoalQ3.ToString() : "0")" placeholder="" readonly />
                            <span class="input-group-addon">MXN</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="IdB" class="control-label">Q4<span id="_lblIdB" class="field-validation-error text-danger" style="display:none;"></span></label>
                    </td>
                    <td>
                        <div class="input-group col-md-12">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" name="AmountGoalQ4Pre" id="AmountGoalQ4Pre" value="@(Model.AmountGoalQ4Pre>0? Model.AmountGoalQ4Pre.ToString() : "0")" placeholder="" onchange="CalculateTotal()" tabindex="4" @(currentMonth > 12 ? "readonly" : "") />
                            <span class="input-group-addon">MXN</span>
                        </div>
                    </td>
                    <td>
                        <div class="input-group col-md-12">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" name="AmountGoalQ4" id="AmountGoalQ4" value="@(Model.AmountGoalQ4>0? Model.AmountGoalQ4.ToString() : "0")" placeholder="" readonly />
                            <span class="input-group-addon">MXN</span>
                        </div>
                    </td>
                </tr>
                <tfoot>
                    <tr>
                        <td><label for="IdB" class="col-md-2 control-label">Monto meta<span id="_lblIdB" class="field-validation-error text-danger" style="display:none;"></span></label></td>
                        <td>
                            <div class="input-group col-md-12">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" name="AmountGoalTotalPre" id="AmountGoalTotalPre" value="@(Model.AmountGoalTotalPre > 0 ? Model.AmountGoalTotalPre.ToString() : "0")" placeholder="" readonly />
                                <span class="input-group-addon">MXN</span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group col-md-12">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" name="AmountGoalTotal" id="AmountGoalTotal" value="@(Model.AmountGoalTotal > 0 ? Model.AmountGoalTotal.ToString() : "")" placeholder="" readonly />
                                <span class="input-group-addon">MXN</span>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    @*
            <div class="form-group" id="grpGRVBayerEmployeeId">
            <label for="GRVBayerEmployeeId" class="col-md-2 control-label">GRV asignado <span id="_lblGRVBayerEmployeeId" class="field-validation-error text-danger" style="display:none;"></span></label>
            <div class="col-md-10">
                <select name="GRVBayerEmployeeId" id="GRVBayerEmployeeId" class="multiselect" onchange="">
        <option value="-1">Seleccionar...</option>
        @foreach (SelectListItem item in PSD.Web.Controllers._BaseWebController.Grvs())
        {
            <option value="@item.Value" @(item.Value == Model.GRVBayerEmployeeId.ToString() ? "selected" : "")>@item.Text</option>
        }
                </select>
                <input type="text" class="form-control" name="" id="" value="@Model.GRVBayerEmployee.NameDisplay" readonly />
                @Html.HiddenFor(x => x.GRVBayerEmployeeId)
            </div>
        </div>
    *@
    @*
        <div class="form-group" id="grpRTVBayerEmployeeId">
            <label for="RTVBayerEmployeeId" class="col-md-2 control-label">RTV asignado <span id="_lblRTVBayerEmployeeId" class="field-validation-error text-danger" style="display:none;"></span></label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="" id="" value="@Model.RTVBayerEmployee.NameDisplay" readonly />
                @Html.HiddenFor(x => x.RTVBayerEmployeeId)
                if (Identity.CurrentUser.IsInRole("employee-rtv_operation"))
                {
                    <input type="text" class="form-control" name="" id="" value="@Identity.CurrentUser.DisplayName" readonly />
                    @Html.HiddenFor(x=>x.RTVBayerEmployeeId)
                }
                else
                {
                    <select name="RTVBayerEmployeeId" id="RTVBayerEmployeeId" class="multiselect" onchange="">
                        <option value="-1">Seleccionar...</option>
                        @foreach (SelectListItem item in PSD.Web.Controllers._BaseWebController.Rtvs())
                        {
                            <option value="@item.Value" @(item.Value == Model.RTVBayerEmployeeId.ToString() ? "selected" : "")>@item.Text</option>
                        }
                    </select>
                }
            </div>
        </div>
    *@
    <div class="form-group" id="grpIdB">
        <label for="IdB" class="col-md-2 control-label">Estatus<span id="_lblIdB" class="field-validation-error text-danger" style="display:none;"></span></label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="ContractDistributorStatus.Name" id="ContractDistributorStatus.Name" value="@Model.ContractDistributorStatus.Name" readonly />
            @Html.HiddenFor(x => x.ContractDistributorStatusId)
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-md-2 control-label"></label>
        <div class="col-md-8">
            @Html.ValidationSummary()
            <button type="submit" class="btn btn-primary" onclick="Edit.postAction.value = 'updateAndSendToDistributor';">Actualizar y enviar a distribuidor</button>
            <button type="submit" class="btn btn-info" onclick="Edit.postAction.value = 'updateOnly';">Guardar sin enviar</button>
            <button type="button" class="btn btn-default" onclick="window.location = '/Contracts/BayerToDistributor/Detail/@Model.Id';">Cancelar</button>
        </div>
        <div class="col-md-1 col-md-offset-1">
            <button type="button" class="btn btn-danger" onclick="window.location = '/Contracts/BayerToDistributor/Delete/@Model.Id';" disabled>Eliminar</button>
        </div>
    </div>
}
@section pageCSS{
}
@section pageScripts{
    <script type="text/javascript">
        function ValidateForm() {
            return true;
        }
        function CalculateTotal() {
            var q1 = parseFloat($("#AmountGoalQ1Pre").val());
            var q2 = parseFloat($("#AmountGoalQ2Pre").val());
            var q3 = parseFloat($("#AmountGoalQ3Pre").val());
            var q4 = parseFloat($("#AmountGoalQ4Pre").val());

            $("#AmountGoalTotalPre").val(q1 + q2 + q3 + q4);

            $("#AmountGoalQ1").val($("#AmountGoalQ1Pre").val());
            $("#AmountGoalQ2").val($("#AmountGoalQ2Pre").val());
            $("#AmountGoalQ3").val($("#AmountGoalQ3Pre").val());
            $("#AmountGoalQ4").val($("#AmountGoalQ4Pre").val());
            $("#AmountGoalTotal").val($("#AmountGoalTotalPre").val());
        }
    </script>
}




